SkolarPETEST-Bold.otf
SkolarPETEST-Italic.otf
SkolarPETEST-Regular.otf
SkolarSansPETEST-Rg.otf
memorial.sublime-project
memorial.sublime-workspace
memo_GBF2.pdf
out/
artigos/
bolsas/
certificados/
documentos/
reviews_examples/
.DS_Store
IB-USP-2024/memorial_documentado.pdf
