SkolarPETEST-Bold.otf
SkolarPETEST-Italic.otf
SkolarPETEST-Regular.otf
SkolarSansPETEST-Rg.otf
memorial.sublime-project
memorial.sublime-workspace
memo_GBF2.pdf
out/
artigos/
bolsas/
certificados/
documentos/
reviews_examples/
.DS_Store
IB-USP-2024/memorial_documentado.pdf
IB-USP-2024/memorial.pdf
IB-USP-2024/memorial.docx
IB-USP-2024/certificados.pdf
IB-USP-2024/cv.pdf
edital/edital_01623.pdf
UFSCAR-2024/cv.pdf
UFSCAR-2024/certificados.pdf
UFSCAR-2024/Projeto Pedagogico Bacharelado.pdf
UFSCAR-2024/plano_trabalho.pdf
UFSCAR-2024/Projeto Pedagogico Licenciatura.pdf
Artigos-USP/
